@import "tailwindcss";
@theme {
    --color-grey : #222222;
    --color-splblack : #121212;
    --font-irish: "Irish Grover", sans-serif;
    --font-ubuntu: "ubuntu";
    --font-quicksand: "quicksand";
    --font-poppins: "poppins";
    --breakpoint-xmd: "870px"
}
